<div class="row">
  <div class="col" *ngFor = "let art of artistas" style="padding-top:40px;">
    <div class="card bg-dark" style="width: 18rem;">
      <img src="{{ art.img }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ art.nome }}</h5>
        <hr>
        <p class="card-text">Data: {{ art.data }}</p>
        <p class="card-text">Horário: {{ art.horario }}</p>
        <p class="card-text">Gênero: {{ art.genero }}</p>
        <p class="card-text">Palco: {{ art.palco }}</p>
      </div>
    </div>
  </div>
</div>
